.header__link {
  font-weight: normal;
  line-height: 25px;
  font-size: 18px;
  bottom: 30px;
  text-decoration: none;
  color: #2f80ed;
  transition: opacity 0.3s ease;
}

.header__link:hover {
  opacity: 0.6;
}